<div class="container components">
    <h2>this example is dealing with components</h2>
    <app-cockpit 
      (serverCreated)="onServerAdded($event)"
      (createBlueprint)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
        <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy button</button>
        <app-server-element 
          *ngFor="let element of serverElements" 
          [srvElement]="element"
          [name]="element.name"
        >
          <p #contentParagraph>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </app-server-element>
      </div>
    </div>
  </div>
  